{% extends 'base.html' %}

{% block title %}Creating new task - T2D{% endblock %}

{% block content %}

    <h1 class="TitleT text-center animate__animated animate__bounceInRight">CREATE NEW TASK</h1>

    {{ error }}

    <div class="formuT text-center aling-items animate__animated animate__fadeInUpBig">
        <form class="form" action="{% url 'create_task' %}" method="POST">

            {% csrf_token %}
            <div class="xfo text-center">
             {{ form.as_p }}
            </div>


            <div class="save">
                <button class="BSave btn btn-info btn-lg">
                    Save
                </button>
            </div>
        </form>
    </div>
{% endblock %}