{% extends 'base.html' %}

{% block content %}

    <h1>TASKS</h1>

    <ul>
        {% for task in tasks %}

        <li>
            <a href="{% url 'task_detail' task.id_task %}">
                {{ task.title }}
            </a>

            <p>{{ task.description }}</p>
            <p>{{ project.date_complete }}</p>

            <p>{{ task.project.name_project }}</p>

            <p>{{ task.created_at }}</p>

            <p>{{ task.updated_at }}</p>
            
        </li>
        {% endfor %}
    </ul>
{% endblock %}