{% extends 'base.html' %}

{% block content %}

    <h1>{{ title }}</h1>

    {% if tasks %}

        <ul>
            {% for task in tasks %}

            {# {% if task.project.user == user %} #}

                <li>
                    <a href="{% url 'task_detail' task.id_task %}">
                        {{ task.title }}
                    </a>

                    <p>{{ task.description }}</p>

                    <p>Completado en:
                        {% if task.date_completed %}
                            {{ task.date_completed }}</p>
                        {% endif %}

                    <p>{{ task.project.name_project }}</p>

                    <p>Created at: {{ task.created_at|date:'M d Y' }}</p>

                    <p>Update at: {{ task.updated_at|date:'M d Y' }}</p>
                    
                </li>
            
            {# {% endif %} #}
            {% endfor %}
        </ul>
    
    {% else %}

        <p>There aren't {{ title }}</p>

    {% endif %}

{% endblock %}