{% extends 'base.html' %}

{% block title %}{{ title }} - T2D{% endblock %}

{% block content %}

    <h1 class="ProjectTitle text-center">{{ title }}</h1>

    {% if tasks %}

        <ul>
            {% for task in tasks %}

            {# {% if task.project.user == user %} #}

            <div class="info2">

                <li>
                    <div class="Ptitle">
                        <a class="titulo" href="{% url 'task_detail' task.id_task %}">
                            {{ task.title }}
                        </a>
                    </div>

                    <div class="informacion2">

                        <p>{{ task.description }}</p>

                        <p>Completado en:
                            {% if task.date_completed %}
                                {{ task.date_completed }}</p>
                            {% endif %}

                        <p>{{ task.project.name_project }}</p>

                        <p>Created at: {{ task.created_at|date:'M d Y' }}</p>

                        <p>Update at: {{ task.updated_at|date:'M d Y' }}</p>

                    </div>

                    
                </li>

            </div>
            
            {# {% endif %} #}
            {% endfor %}
        </ul>
    
    {% else %}

        <div class="infoC1 text-center">
            <p>There aren't {{ title }}</p>
        <div>

    {% endif %}

{% endblock %}