{% extends 'base.html' %}

{% block content %}

    <h1>{{ task.title }}</h1>

    {{ error }}

    {% if not task.date_completed %}

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            
            <button>
                Update
            </button>
        </form>

        <p>
            <form action="{% url 'complete_task' task.id_task %}" method="POST">
                {% csrf_token %}
                <button>
                    Complete
                </button>
            </form>
        </p>

    {% else %}

        <p>Description: {{ task.description }}</p>

        <p>Date Completed: {{ task.date_completed}}</p>

        <p>
            <form action="{% url 'uncomplete_task' task.id_task %}" method="POST">
                {% csrf_token %}

                <button>
                    Uncomplete
                </button>
                
            </form>
        </p>
    
    {% endif %}

    <p>
        <form action="{% url 'delete_task' task.id_task %}" method="POST">
            {% csrf_token %}
            <button>
                Delete
            </button>
        </form>
    </p>

    <p>{{ task.created_at }}</p>

    <p>{{ task.updated_at }}</p>

    <p><a href="{% url 'project_detail' task.project.project_id %}">Back to Project</a></p>
    
{% endblock %}