{% extends 'base.html' %}

{% block title %}{{task.title}} (details) - T2D{% endblock %}

{% block content %}

    <h1 class=" H3 infoC1 text-center">{{ task.title }}</h1>

    {{ error }}

    {% if not task.date_completed %}

    <div class="formuTDC">
            <form class="formuTD text-center" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="separate">
                    <button class="btn btn-info btn-mds">
                        Update
                    </button>
                </div>
            </form>
            
         
        
            <p>
                <form class="text-center" action="{% url 'complete_task' task.id_task %}" method="POST">
                    {% csrf_token %}

                    <button class="btn btn-info btn-md">
                        Complete
                    </button>

                </form>
            </p>

    {% else %}

    <div class="formuTV">

            <p class="Dos">Description: {{ task.description }}</p>

            <p class="Com">Date Completed: {{ task.date_completed|date:'M d Y' }}</p>

            <p>
                <form class="text-center" action="{% url 'uncomplete_task' task.id_task %}" method="POST">
                    {% csrf_token %}

                    <button class="btn btn-info btn-md">
                        Uncomplete
                    </button>
                </form>
            </p>
    
    {% endif %}


                <p>
                    <form class="text-center" action="{% url 'delete_task' task.id_task %}" method="POST">
                        {% csrf_token %}

                        <div class="Del">
                            <button class="btn btn-info btn-md">
                                Delete Task
                            </button>
                        </div>

                    </form>
            </p>

    </div>

            <p class="text-center">Create at: {{ task.created_at|date:'M d Y' }}</p>

            <p class="text-center">Update at: {{ task.updated_at|date:'M d Y' }}</p>

            
                <p class="text-center"><a class="titulo" href="{% url 'project_detail' task.project.project_id %}">Back to Project</a></p>
            

    </div>
    
{% endblock %}