{% extends 'base.html' %}

{% block title %}Creating new project - T2D{% endblock %}

{% block content %}

    <h1 class="TitleT text-center">CREATE NEW PROJECT</h1>

    {{ error }}

    <div class="formuT">
        <form class="CNP" action="{% url 'create_project' %}" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="createP ">

                <p class="pro">Project: {{form.name_project}}</p>

                <p class="cat">Category: {{form.category}}</p>

                <p class="img">Image: {{form.image}}</p>
            </div>
            <div class="submit text-center ">

                <button type="submit" class="btn btn-info btn-lg">Save</button>
            </div>

        </form>
    </div>

{% endblock %}