{% extends 'base.html' %}

{% block content %}

    <h1>{{ project.name_project }}</h1>

    {{ error }}

    {% if not project.date_completed %}

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button>
                Update
            </button>
        </form>

        <p>
            <form action="{% url 'complete_project' project.project_id %}" method="POST">
                {% csrf_token %}
                <button>
                    Complete
                </button>
            </form>    
        </p>

        {% else %}

        <p>Category: {{ project.category }}</p>

        <p>Important {{ project.complete }}</p>

        <p>
            <form action="{% url 'uncomplete_project' project.project_id %}" method="POST">
                {% csrf_token %}

                <button>
                    Uncomplete
                </button>

            </form>
        </p>

    {% endif %}

    {% if tasks %}
        <!-- código aquí para listar las tareas -->
        <p>
            <h3>Tasks list</h3>

            {% for task in tasks %}

            <p>
                <a href="{% url 'task_detail' task.id_task %}">
                    {{ task.title }}
                </a>
            </p>

            {% endfor %}
            
        </p>
    {% else %}
        <p>No hay Tareas en el Proyecto.</p>
    {% endif %}


    <p>
        <form action="{% url 'delete_project' project.project_id %}" method="POST">
            {% csrf_token %}
            <button>
                Delete
            </button>
        </form>
    </p>

    <p>Created at: {{ project.created_at }}</p>

     <p>Updated at: {{ project.updated_at }}</p>
        
{% endblock %}