{% extends 'base.html' %}

{% block content %}

    <h1>{{ title }}</h1>

    {% if projects %}

        <ul>

            {% for project in projects %}
            <li>
                <a href="{% url 'project_detail' project.project_id %}">
                    {{project.name_project}}
                </a>

                    <p>Category: {{ project.category }}</p>
                    
                    <p>Date Completed: {{ project.date_completed|date:'M d Y' }}</p>

                    <p>Created at: {{ project.created_at|date:'M d Y' }}</p>

                    <p>Updated at: {{ project.updated_at|date:'M d Y' }}</p>
            </li>
            {% endfor %}

        </ul>

    {% else %}

        <p>There aren't {{ title }}</p>

    {% endif %}
{% endblock %}