{% extends 'base.html' %}

{% block content %}

    <h1>{{ title }}</h1>

    {% if projects %}

        <ul>

            {% for project in projects %}
            <li>
                <a href="{% url 'project_detail' project.project_id %}">
                    {{project.name_project}}
                </a>

                    <p>{{ project.category }}</p>
                    
                    <p>{{ project.date_completed|date:'M j Y:i'}}</p>
            </li>
            {% endfor %}

        </ul>

    {% else %}

        <p>There aren't {{ title }}</p>

    {% endif %}
{% endblock %}