{% extends 'base.html' %}

{% block title %} {{ user.username }}'s Profile - T2D {% endblock %}

{% block content %}

    <h1>{{ user.username }}'s Profile</h1>

    {% if user.profile_picture %}

        <img src="{{ user.profile_picture.url }}" alt="Profile of {{ user.username }}"> 
    
    {% endif %}

    <p>Name: {{ user.first_name }}</p>

    <p>Last name: {{ user.last_name }}</p>

    <p>Email: {{ user.email }}</p>

    <p><form action="{% url 'update_profile' %}">
        <button>Update profile</button>
    </form></p>

{% endblock %}