{% extends 'base.html' %}

{% block title %}Sing Up - PM{% endblock %}

{% block content %}
    <h1 class="infoC1 text-center">SIGNUP</h1>

        {{ error }}

        
            <form class="formuT" action="{% url 'signup' %}" method="POST">
                <div class="ingresar">
                    {% csrf_token %}
                    
                    {{ form.as_p }}

                </div>
                <div class="sup">
                    <button class="btn btn-info">Signup</button>
                </div>

            </form>
        

{% endblock %}    