{% extends 'base.html' %}

{% block title %}{{ user.username }}'s profile - T2D{% endblock %}

{% block content %}

    <h1>Updating Profile</h1>

    {{ error }}

    {% if user.profile_picture %}

        <img src="{{ user.profile_picture.url }}" alt="Profile picture"> 
    
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <p>Firt name: {{ form.first_name }}</p>
        <p>Last name: {{ form.last_name }}</p>
        <p>Email: {{ form.email }}</p>
        <p>Profile picture: {{ form.profile_picture }}</p>

        <button type="submit">Save</button>
    </form>
<
{% endblock %}