<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT MANAGER</title>
</head>
<body>

    <ul>
        <li>
            <a href="{% url 'index' %}">
                Home
            </a>
        </li>
        <li>
            <a href="{% url 'projects' %}">
                Projects Pending
            </a>
        </li>
        <li>
            <a href="{% url 'projects_completed' %}">
                Projects Complete
            </a>
        </li>
        <li>
            <a href="{% url 'create_project' %}">Create project</a>
        </li>
        <li>
            <a href="{% url 'tasks' %}">Tasks Pending</a>
        </li>
        <li>
            <a href="{% url 'tasks_completed' %}">Tasks Completed</a>
        </li>
        <li>
            <a href="{% url 'create_task' %}">
                Create Task
            </a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="/logout">
                Logout
            </a>
        </li>
        {% else %}
        <li>
            <a href="/signin">
                Signin
            </a>
        </li>
        <li>
            <a href="/signup">
                Signup
            </a>
        </li>
        {% endif %}
    </ul>

    {% block content %}

    {% endblock %}
    
</body>
</html>