{% extends 'base.html' %}

{% block content %}

    <h1>HOME</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam tempore nobis et ullam, odit ipsa maxime autem! Facere quo mollitia deleniti reprehenderit amet eaque placeat, veritatis hic quisquam, blanditiis porro. At molestiae, maxime quaerat distinctio impedit sint labore est vel numquam quibusdam delectus reprehenderit earum voluptates nulla animi facilis libero dignissimos alias nam. Adipisci eos sapiente voluptate labore officiis earum nihil, enim repudiandae aut id fuga ipsa harum eius distinctio fugiat! Dolorum repellat placeat culpa quidem accusantium, asperiores esse maiores mollitia id reprehenderit tempore molestiae architecto recusandae enim impedit debitis omnis at rem. Expedita, dolore libero ullam possimus ducimus fugit.</p>

{% endblock %}